.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 700px;
  height: 900px;
  margin-top: -330px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

html{
  scroll-behavior: smooth;
}
